

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Loops</span> </b></center>

# Practical_04 on "Programming with Python"

    Student : KAM TSEMO SANDRA MARION

        OPTION : MASTER REGULAR, AIMS SENEGAL

        Teacher : Yae Ulrich

#### Exercice 0
>On se propose de résoudre dans l'ensemble des entiers naturels l'inéquation $2n(n+1)<100$.
En utilisant une boucle **While**, écris un programme qui renvoie les solutions entières de cette inéquation.

In [1]:
n=0
while 2*n*(n+1)<100 :
    print(n)
    n=n+1

0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, écris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [2]:
somme=0
for i in range (1, 30+1):
    somme=somme+i
print("La somme des 30 premier entiers naturels non nuls est égale à : ",somme)

La somme des 30 premier entiers naturels non nuls est égale à :  465

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [3]:
i=1
somme=0
while i<=30 :
    somme=somme+i
    i=i+1
print("La somme des 30 premier entiers naturels non nuls est égale à : ",somme)

La somme des 30 premier entiers naturels non nuls est égale à :  465

#### Exercice 3
>En utilisant une boucle **For**, écris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [4]:
produit=1
for i in range (1, 9+1):
    produit=produit*i
print("Le produit des 9 premier entiers naturels non nuls est égale à : ", produit)

Le produit des 9 premier entiers naturels non nuls est égale à :  362880

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [5]:
i=1
produit=1
while i<=9 :
    produit=produit*i
    i=i+1
print("Le produit des 9 premier entiers naturels non nuls est égale à : ", produit)

Le produit des 9 premier entiers naturels non nuls est égale à :  362880

#### Exercice 5 
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ à $n$ en utilisant la boucle **For**.

In [6]:
nombre=float(input('Saisir un nombre : '))
for a in range (1, int(nombre)+1):
    if a%2==0: 
        print(a) 
    a=a+1

Saisir un nombre : 15
2
4
6
8
10
12
14

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [7]:
nombre=float(input('Saisir un nombre : '))
a=1 
while a <= nombre : 
    if a%2==0: 
        print(a) 
    a=a+1

Saisir un nombre : 15
2
4
6
8
10
12
14

#### Exercice 7
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 à n en utilisant la boucle **For**.

In [2]:
nombre=float(input('Saisir un nombre : '))
for b in range (int(nombre)+1):
    if b%2!=0: 
        print(b) 
    b=b+1

Saisir un nombre : 15
1
3
5
7
9
11
13
15

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [7]:
nombre=float(input('Saisir un nombre : '))
b=1 
while b <= nombre : 
    if b%2!=0: 
        print(b) 
    b=b+1

Saisir un nombre : 15
1
3
5
7
9
11
13
15

#### Exercice 9
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [3]:
nombreN=int(input('Entrez un nombre : '))
for n in range (0,11) :
    v = n*nombreN
    print(n, 'x', nombreN, '=', v, sep =' ')
    n = n+1

Entrez un nombre : 15
0 x 15 = 0
1 x 15 = 15
2 x 15 = 30
3 x 15 = 45
4 x 15 = 60
5 x 15 = 75
6 x 15 = 90
7 x 15 = 105
8 x 15 = 120
9 x 15 = 135
10 x 15 = 150

#### Exercice 10
>Refais l'exercice 9 en utilisant la boucle **While**.

In [4]:
nombreN=int(input('Entrez un nombre : '))
n = 0
while n <=10 :
    v = n*nombreN
    print(n, 'x', nombreN, '=', v, sep =' ')
    n = n +1

Entrez un nombre : 15
0 x 15 = 0
1 x 15 = 15
2 x 15 = 30
3 x 15 = 45
4 x 15 = 60
5 x 15 = 75
6 x 15 = 90
7 x 15 = 105
8 x 15 = 120
9 x 15 = 135
10 x 15 = 150

#### Exercice 11
>Écris un programme qui demande à l'utilisateur d'entrer un nombre et de trouver tous ses diviseurs  en utilisant la boucle **For**.

In [16]:
nomb=int(input('Entrez un nombre : '))
for i in range(1, int(nomb)+1) :
    if nomb%i==0 :
        print(i)

Entrez un nombre : 20
1
2
4
5
10
20

#### Exercice 12
>Écris un programme qui demande à l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [56]:
nbrEnt = int(input('Entrez un nombre entier naturel : '))
fact = 1
for i in range(1, nbrEnt+1):
  fact = fact* i
print (nbrEnt,'! = ',fact)

Entrez un nombre entier naturel : 5
5 ! =  120

#### Exercice 13
>Écris un programme qui demande à l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

In [4]:
a = int(input('Entrez le premier nombre entier naturel : '))
b = int(input('Entrez le second nombre entier naturel : '))
c,d=a,b
for i in range (a*b) :
    if a>b :
        b+=d
    elif a<b :
        a+=c
print(a)

Entrez le premier nombre entier naturel : 48
Entrez le second nombre entier naturel : 60
240

#### Exercice 14
>Écris un programme pour afficher la série de Fibonacci jusqu'à n termes en utilisant une boucle.

In [40]:
nombre = int(input("Entrez un nombre: "))
 
p1 = 0
p2 = 1
 
print("\n la suite fibonacci est :")
print(p1, ",", p2, end=", ")
 
for i in range(2, nombre):
  suivant = p1 + p2
  print(suivant, end=", ")
 
  p1 = p2
  p2 = suivant

Entrez un nombre: 10

 la suite fibonacci est :
0 , 1, 1, 2, 3, 5, 8, 13, 21, 34,

#### Exercice 15
>Écris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un très bon langage de programmation".

In [42]:
for i in range(1,6):
        print("Python est un très bon langage de programmation")
        i = i+1

Python est un très bon langage de programmation
Python est un très bon langage de programmation
Python est un très bon langage de programmation
Python est un très bon langage de programmation
Python est un très bon langage de programmation

#### Exercice 16
>Écris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

In [45]:
j = 0
while j < 7:
    print("A cette allure je finirai par tout abandonner pour la programmation")
    j = j+1

A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation

#### Exercice 17
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

In [51]:
z = 10
for x in range (0, z+1):
   y = z-x
   print (y)
print('Partez')

10
9
8
7
6
5
4
3
2
1
0
Partez

#### Exercice 18
>Écris, en utilisant une boucle **For**, un programme qui affiche chaque élément d'une chaine de caractère.

In [59]:
chaine=input('Entrer une chaine de caractere : ')
for i in chaine :
    print(i)

Entrer une chaine de caractere : Merci Monsieur
M
e
r
c
i

M
o
n
s
i
e
u
r

#### Exercice 19
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

In [54]:
for i in range(10, -1, -1) :
    print(i)
print('Partez')

10
9
8
7
6
5
4
3
2
1
0
Partez

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS! 🎉 </span> </b></center>