

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

# Practical_03 on "Programming  with Python"



            Student : KAM TSEMO SANDRA MARION

            OPTION : MASTER REGULAR, AIMS SENEGAL
            
            Teacher : Yae Ulrich

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
listVide=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [3]:
liste=['Jan',1,'Fev',2,'March',3.5,'chien',9.12]
print(liste)

['Jan', 1, 'Fev', 2, 'March', 3.5, 'chien', 9.12]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [4]:
print(len(liste))

8

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [5]:
import math

In [7]:
print(liste[0]," ---est le premier element",liste[int(len(liste)/2)], " ---est la valeur centrale---", liste[-2], " ---est le dernier element")

Jan  ---est le premier element March  ---est la valeur centrale--- chien  ---est le dernier element

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [9]:
mixed_data_types=list(['nom : Kam Tsemo','age : 25 ' ,'taille : 1.90' ,'etat civil : celibataire','adresse : 3545' ])
print(mixed_data_types)

['nom : Kam Tsemo', 'age : 25 ', 'taille : 1.90', 'etat civil : celibataire', 'adresse : 3545']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [113]:
it_companies=list(['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'])       # 1.
print(it_companies)                                            # 2.
print(len(it_companies))                                      # 3.
print(it_companies[0]," ---est le premier element",it_companies[int(len(liste)/2)], " ---est la moyenne---", it_companies[-2], " ---est le dernier element") # 4.
print(it_companies.remove('Apple'))
print(it_companies)                                           # 5. 
print(it_companies.append('Twitter'))                         # 6.
print(it_companies)
print(it_companies.insert(int(len(liste)/2),'Telegram'))      # 7.
print(it_companies)
it_companies[it_companies.index("Facebook")]=it_companies[it_companies.index("Facebook")].upper() # 8.
print(it_companies)
print(" # ".join(it_companies))             # 9.
print('Google' in it_companies)             # 10.
print('Whatsapp' in it_companies)
it_companies.sort()                         # 11. Trier la liste en utilisant la méthode sort()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook  ---est le premier element IBM  ---est la moyenne--- Oracle  ---est le dernier element
None
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']
None
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon', 'Twitter']
None
['Facebook', 'Google', 'Microsoft', 'IBM', 'Telegram', 'Oracle', 'Amazon', 'Twitter']
['FACEBOOK', 'Google', 'Microsoft', 'IBM', 'Telegram', 'Oracle', 'Amazon', 'Twitter']
FACEBOOK # Google # Microsoft # IBM # Telegram # Oracle # Amazon # Twitter
True
False
['Amazon', 'FACEBOOK', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Telegram', 'Twitter']

In [94]:
it_companies.reverse()        # 12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse()
print(it_companies)

['Twitter', 'Telegram', 'Oracle', 'Microsoft', 'IBM', 'Google', 'FACEBOOK', 'Amazon']

In [110]:
del it_companies[0:3]         # 13. Supprimez les 3 premières entreprises de la liste
print(it_companies)

['IBM', 'Microsoft', 'Oracle', 'Telegram', 'Twitter']

In [112]:
del it_companies[5:8]        # 14. Supprimez les 3 dernières entreprises de la liste
print(it_companies)

['Amazon', 'FACEBOOK', 'Google', 'IBM', 'Microsoft']

In [92]:
del it_companies[int(len(liste)/2)] # 15. Supprimez la ou les entreprises informatiques du milieu de la liste.
print(it_companies)

['Amazon', 'FACEBOOK', 'Google', 'IBM', 'Oracle', 'Telegram', 'Twitter']

In [102]:
del it_companies[0:1]        # 16. Supprimez la première entreprise informatique de la liste
print(it_companies)

['FACEBOOK', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Telegram', 'Twitter']

In [96]:
del it_companies[4:5]        # 17. Supprimez la ou les entreprises informatiques du milieu de la liste.
print(it_companies)

['Amazon', 'FACEBOOK', 'Google', 'IBM', 'Oracle', 'Telegram', 'Twitter']

In [106]:
del it_companies[-1:]        # 18. Retirer la dernière entreprise informatique de la liste.
print(it_companies)

['Amazon', 'FACEBOOK', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Telegram']

In [108]:
del it_companies[0:8]        # 19. Supprimez toutes les entreprises informatiques de la liste.
print(it_companies)

[]

In [114]:
print(it_companies.clear())  # 20. Détruire la liste des entreprises informatiques

None

Exercice 06:
Joindre les listes suivantes :

     front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
     back_end = ['Node','Express', 'MongoDB']

In [10]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
print("joindre les deux listes nous donne =", front_end+back_end)

joindre les deux listes nous donne = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [119]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("Liste initiale ", ages)
ages.sort()                     
print("Liste triee ",ages)

Liste initiale  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Liste triee  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [ ]:
minimum = min(ages)
maximum = max(ages)
print ("L'âge minimum est", minimum )
print ("L'âge maximum est", maximum )

In [ ]:
ages.append(minimum)
print(ages)

In [ ]:
ages.append(maximum)
print(ages)

In [82]:
mediane = (24+24)/2
print('âge médian ', mediane)

âge médian  24.0

In [71]:
moyenne = (19+19+20+22+24+24+24+25+25+26+19+26)/12
print('âge moyen ', moyenne)

âge moyen  22.75

In [ ]:
intervalle = range(max(ages)-min(ages))
print(intervalle)

In [ ]:
comparaison = abs((minimum-moyenne)-(maximum-moyenne))

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [2]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
joindre= front_end+back_end
print('Les deux listes jointes sont :', joindre)

Les deux listes jointes sont : ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [110]:
dog={}

In [111]:
dog['Nom']='Kiki'
dog['Couleur']='Jaune'
dog['race']='Berger'
dog['Pattes']='ras'
dog['âge']=20
print(dog)

{'Nom': 'Kiki', 'Couleur': 'Jaune', 'race': 'Berger', 'Pattes': 'ras', 'âge': 20}

In [112]:
student = {'Prenoms':'Sandra Marion', 'Noms':'Kam Tsemo', 'sexe':'Feminin', 'âge':25, 'Etat civil':'Celibataire', 'competences':'Mathématique, modelisation, informatique', 'pays':'Cameroun', 'ville':'Yaounde' , 'Adresse':'rue 1689 oyom-abang Yaounde' }
print(len(student))

9

In [113]:
y= { **student, 'competences' : ['Mathématique, modelisation, informatique']}
student['competences']=[]
print(type(student['competences']))

<class 'list'>

In [114]:
print(student.keys())
print(student.values())
student.items()

dict_keys(['Prenoms', 'Noms', 'sexe', 'âge', 'Etat civil', 'competences', 'pays', 'ville', 'Adresse'])
dict_values(['Sandra Marion', 'Kam Tsemo', 'Feminin', 25, 'Celibataire', [], 'Cameroun', 'Yaounde', 'rue 1689 oyom-abang Yaounde'])

dict_items([('Prenoms', 'Sandra Marion'), ('Noms', 'Kam Tsemo'), ('sexe', 'Feminin'), ('âge', 25), ('Etat civil', 'Celibataire'), ('competences', []), ('pays', 'Cameroun'), ('ville', 'Yaounde'), ('Adresse', 'rue 1689 oyom-abang Yaounde')])

In [115]:
del student['Etat civil']

In [116]:
student.clear()
print(student)

{}

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>

# ----------THE END----------